In [1]:
import warnings, gc
import numpy as np 
import pandas as pd
import matplotlib.colors
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

from datetime import datetime, timedelta
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error, mean_absolute_error

c:\Users\wianc\anaconda3\envs\MasterEnv\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Read in and construct the initial dataset.

def createDataset(csv):
    temp_ds = pd.read_csv(csv)
    temp_ds.date = pd.to_datetime(temp_ds.date, format="%Y/%m/%d")
    temp_ds = temp_ds.set_index('date')
    print(temp_ds.shape)
    return temp_ds



# Define folder path of source data
folder_path = "C:/Users/wianc/Desktop/NMRQL/Economic Data/"
#folder_path = "C:/Users/wianc/Desktop/us_economics_monthly.csv"

# Read in description files
annual_desc = pd.read_csv(folder_path + 'annually_description_file.csv')
month_desc = pd.read_csv(folder_path + 'monthly_description_file.csv')
quarterly_desc = pd.read_csv(folder_path + 'quarterly_description_file.csv')

# Read in data files
annual_data = createDataset(folder_path + 'us_economics_annually.csv')
quarterly_data = createDataset(folder_path + 'us_economics_quarterly.csv')
monthly_data = createDataset(folder_path + 'us_economics_monthly.csv')


# Concatenate all data together (with an outer join)
concat_data = pd.concat([monthly_data, quarterly_data, annual_data], axis = 1, join='outer')

# Check that column ids (descriptions references) do not overlap between the different datasets we concatennated.
if len(concat_data.columns.unique()) < len(concat_data.columns): print("Duplicated columns present in data!")

concat_data

(62, 174)
(250, 442)
(751, 429)

,43677,43678,43679,43680,43681,43682,43685,43686,43688,43689,...,77431,77433,79838,79841,79843,79845,79848,79851,79853,80572
date,,,,,,,,,,,,,,,,,,,,,
1960-02-01,2.99,496.0,NaN,10.8,NaN,NaN,202.0,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-03-01,0.82,-264.0,NaN,10.8,NaN,NaN,250.0,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-04-01,1.88,1843.0,NaN,10.8,NaN,NaN,274.0,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-05-01,2.01,892.0,NaN,10.8,NaN,NaN,366.0,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-06-01,2.07,946.0,NaN,10.8,NaN,NaN,368.0,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,NaN,-115.0,129127.872953,124.7,27.27,33.8,-106806.0,-101069.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01,NaN,618.0,129256.098450,125.4,27.42,34.3,-104040.0,-108384.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-01,NaN,69.0,NaN,125.6,27.27,34.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# ["annual_data", "quarterly_data", "monthly_data", "annual_data_description", "quarterly_data_description", "monthly_data_description"]



raw_data = {'annual_data': annual_data,
            'quarterly_data': quarterly_data,
            'monthly_data': monthly_data,
            'annual_data_description': annual_desc,
            'quarterly_data_description': quarterly_desc,
            'monthly_data_description': month_desc
            }

In [ ]:
# Prepare the dataset for dimensionality reduction -
# Join and sample to the same period

# Remove columns with too much missing data. 

# Downsample the monthly data to quarterly data by taking the mean, 
# then linearly interpolate and ffill the ramaining data.

# Impute the remaining missing data.

# Perform Dimensionality Reduction (PCA)

In [ ]:
# Join the data together and resample to quarterly periods:
# Concatenate all data together (with an outer join)

concat_data = pd.concat([raw_data['annual_data'], raw_data['quarterly_data'], raw_data['monthly_data']], axis = 1, join='outer')
concat_desc = pd.concat([raw_data['annual_data_description'], raw_data['quarterly_data_description'], raw_data['monthly_data_description']], axis = 1, join='outer')

# Remove columns with too much missing data.
concat_data

# Perform resampling as well as inter- and extrapolation on the dataset.
quarterly_ds = concat_data.resample(rule='Q', label='right').mean().interpolate('linear').ffill()



# Let's have a threshold that removes variables that do not have enough data.
# If threshold is set to 10% (0.1) then variables with more than 10% NaN values are dropped from the dataset.



def process_data(raw_data):
    """
    Cleans and transforms datasets to the same period (quarterly)
    
    :returns: pd.DataFrame 
    """


    print("Done")


process_data(raw_data)